<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Home Page</title>
  </head>
  <body>
    <%-include("../public/partials/navBar")-%>
    <div class="container">
      <h1>WELCOME TO CRUD APP</h1>
      <div class="part1">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta,
          molestiae commodi maxime id tenetur suscipit aliquid enim libero
          praesentium sequi, nobis totam rem dignissimos dolorum et similique
          voluptates! Labore, eum.
        </p>
      </div>
      <div class="partTwo"></div>
      <div class="part">
        <a href="login" class="btn btn-primary" style="margin-top: 10px"
          >LOGIN</a
        >
      </div>
    </div>
  </body>
</html>
